<html>
    <head>
        <title>Registeration</title>
    </head>


    <body>
        <form method="POST" action="/registeration">
           <p> Fullname <input type="text" name="fname" placeholder="fullname"></p>
           <p> Age <input type="text" name="age" placeholder="Age"></p>
           <p> Address <input type="text" name="address" placeholder="address"></p>
           <p> Phone Number <input type="text" name="Phonenumber" placeholder="Phone number"></p>
           <p><input type="submit"  value="submit" ></p>
        </form>
    </body>

</html>