<!DOCTYPE html>
<html>
  <body>

    <h1>Olayemi's Trip to Zamfara</h1>
    <p>
      Documenting my trip around Zamfara state!
    </p>

    <h2>October 1, 2015</h2>
   <p>    
	<img src="images/yemi2.jpg" alt="images" />
  </p>
    <p>
      Well I made it 1200 miles already, and I passed
      through some interesting places on the way: 
    </p>

    <ol>
      <li>Funtua, Katsina</li> 
      <li>Zaria, Kaduna</li> 
      <li>Birni warri, Kaduna</li>
      <li>Kaduna, Kaduna</li>
      <li>Minna, Niger</li>
      <li>Mokera, Niger</li> 
    </ol>

    <h2>October 6, 2015</h2>
    <p>
      I saw some camel being used to convey farm produce today: 
      it was a bit strange to me though as i didn't realize such still exist in Nigeria
    </p>
    

    <h2>Jan 1, 2016</h2>
    <p>
    <img src="images/yemi1.jpg" alt="images" />
    </p>
    <p>
      My first day of the trip!  I can't believe I finally got
      everything packed and ready to go back to Zamfara after camp.  Because I'll be travelling with a commercial bus
      I wasn't able to bring a whole lot with me:
    </p>
    <ul>
      <li>shoes & clothes et al</li> 
      <li>Gadgets</li>
      <li>Blanket(Lol as there was too much cold)</li>
      <li>and other necesaary stuff</li>
    </ul>
    <p>
       Just the essentials.  As
      Lao Tzu would have said, <q>A journey of a 
      thousand miles begins with one to Zamfara.</q>
    </p>
  </body>
</html>
